---
layout: default
---

{%- include back_link.html -%}

<article class="post-page">
  <header class="page-heading">
    <h1 class="page-title">{{ page.title }}</h1>
    <div class="heading-rule" aria-hidden="true"></div>
  </header>
  {{ content }}
</article>

<div class="post-page-meta">
  <span class="post-page-author">{{ site.author | default: site.title }}</span>
  <time class="post-date post-page-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, '%y" }}</time>
</div>
